{{#unless (eq page.attributes.pagination undefined)}}
    {{#if (or page.previous page.next)}}
        <nav class="pagination">
            {{#with page.previous}}
                <span class="prev"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
            {{/with}}
            {{#with page.next}}
                <span class="next"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
            {{/with}}
        </nav>
    {{/if}}
{{/unless}}

<div class="feedback-form">
    <div class="feedback-form__vote">
        <div class="feedback-form__title">本页是否有帮助?</div>
        <button class="feedback-form__btn feedback-form__btn_yes" data-link="https://www.jmix.io/forms/doc-upvote">是</button>
        <button class="feedback-form__btn feedback-form__btn_no">否</button>
    </div>
    <div class="feedback-form__success">
        <img class="feedback-form__icon" src="{{uiRootPath}}/img/feedback-form__thumb-up.svg" alt="">
        <div class="feedback-form__title">感谢您的反馈</div>
    </div>
    <div class="feedback-form__error-message">
        <div class="feedback-form__title">
            出问题啦~
        </div>
    </div>
    <div class="feedback-form__form">
        <form action="https://www.jmix.io/forms/doc-feedback" method="POST">
            <div class="feedback-form__title">感谢您的反馈</div>
            <div class="feedback-form__text">请告诉我们您发现的问题</div>
            <div class="feedback-form__input-row">
                <div>
                    <label class="feedback-form__label" for="feedback-form-email">Email</label>
                </div>
                <input
                        class="feedback-form__input feedback-form__email-input"
                        id="feedback-form-email"
                        name="feedback-from-email"
                        type="email"
                        placeholder="example@company.com"
                >
            </div>
            <div class="feedback-form__input-row">
                <div>
                    <label class="feedback-form__label"for="feedback-form-message">
                        内容 <span>*</span>
                    </label>
                </div>
                <textarea
                        class="feedback-form__input feedback-form__message-input"
                        name="feedback-from-message"
                        id="feedback-form-message"
                        cols="30"
                        rows="10"
                        required
                        placeholder="请说明哪些内容需要提升"
                ></textarea>
            </div>
            <div class="feedback-form__input-row">
                <button
                        class="feedback-form__submit feedback-form__btn feedback-form__btn_dark"
                        type="submit"
                >
                    提交
                </button>
            </div>
        </form>
    </div>
</div>
